* {
    margin: 0;
    /* border: red solid 2px; */
}

body {
    background-color: rgb(1, 1, 58);
    color: rgb(248, 244, 244);
}

header {
    background-color: rgb(2, 2, 78);
    color: rgb(248, 244, 244);
    height: 6.5rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    letter-spacing: 3px;
    box-shadow: 0 10px 10px rgb(2, 2, 78);
}

a {
    text-decoration: none;
    color: rgb(248, 244, 244);
}

h1 {
    text-shadow: 15px 15px 8px rgb(1, 1, 58);
}

h2 {
    font-size: 2rem;
    padding-top: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-container > button {
    cursor: pointer;
    width: 10rem;
    padding: 7px 15px;
    background-color: rgb(2, 2, 78);
    color: rgb(248, 244, 244);
    box-shadow: 0 6px 10px rgb(2, 2, 90);
    border: rgb(2, 2, 90) solid 2px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 1rem;
}

#home-page {
    display: block;
    margin: 0.5rem 12rem;
}

.tabcontent {
    display: none;
    margin: 0.5rem 12rem;
}

.flex-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

img {
    width: 200px;
    height: 275px;
}

footer {
    position: relative;
    top: 20vh;
    background-color: rgb(2, 2, 78);
    height: 5rem;
    text-align: center;
    box-shadow: 0 10px 10px rgb(2, 2, 78);
}

footer > button {
    cursor: pointer;
    width: 10rem;
    padding: 7px 15px;
    background-color: rgb(2, 2, 78);
    color: rgb(248, 244, 244);
    box-shadow: 0 6px 10px rgb(2, 2, 90);
    border: rgb(2, 2, 90) solid 2px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 1rem;
}