.flex-profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* border: red solid 2px; */
}

.flex-profile > img {
    width: 200px;
    height: 270px;
    border-radius: 50%;
}

.flex-profile > p {
    align-items: flex-end;
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.flex-titles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3rem;
    text-align: center;
}

.flex-titles > section {
    background-color: rgb(2, 2, 78);
    width: 17rem;
    height: 20rem;
    box-shadow: 0 10px 10px rgb(2, 2, 78);
}

.flex-titles h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-list-section {
    z-index: -1;
    overflow-y: scroll;
}

.review-list-section {
    z-index: -1;
    overflow-y: scroll;
}

.title-info-section {
    z-index: 1;
}

.title-info-section:hover {
    width: 40rem;
    height: 25rem;
    position: absolute;
    left: 23vw;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(248, 244, 244); 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(1, 1, 58); 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 2, 78);
}